<h1>CMST 488 - Advanced JavaScript Exercise 4</h1>
<p class="lead">Objective: simple RESTFul API implemented using Node.js, Express.js and MongoDB (MEN Stack).</p>
<a class="btn btn-lg btn-primary" href="/api/resources/" role="button">View Training Resources API</a>