<!doctype html>
<html>
    <head>
    <title>😺Vs卍</title>
    <link rel="stylesheet" type="text/css" href ="static/styles.css" >
    </head>
    <!--Synopsis of handling positive and negative emotions.-->
    <body>
    <button><a href="http://127.0.0.1:5000/home">Home Page</a></button>
    <button><a href="http://127.0.0.1:5000/ninjaStars">Ninja Stars Page</a></button>
    <button><a href="http://127.0.0.1:5000/kittens">Kittens Page</a></button>
    <button><a href="http://127.0.0.1:5000/updatePassword">Update Password</a></button>

    <h1>Kittens versus Ninja Stars(Shurikens)</h1>
    <div class="container">
        <p> Hello! This page is to introduce you to the metaphor of Kittens vs Shurikens to stand in for positive and negative emotions. Kittens stand in for positive emotions and shurikens stand in for negative emotions. Refer to the links above to learn why each of them are good examples of their own emotion. </p>
        <p> Let's say a person is in a dark room with an overhead light giving a vision radius of five feet. That person would next to no time to react to what is approaching. The person might get hit with a ninja star and <em>feel</em> hurt or have a kitten cuddle up and <em>feel</em> amazing. The person cannot always react to emotions coming at them in time, so advice like "cheer up" or "get over it" doesn't help.</p>
        <table border="1">
            <caption>Dramatization</caption>
            <tr>
                <th><img src="static/shadow.jpg"></th>
                <th><img src="static/light.jpg"></th>
                <th><img src="static/shadow.jpg"></th>
            </tr>
            <tr>
                <th><img src="static/shadow.jpg"></th>
                <th></th>
                <th><img src="static/shadow.jpg"></th>
            </tr>
            <tr>
                <th><img src="static/shadow.jpg"></th>
                <th><img src="static/stickman.jpg"></th>
                <th><img src="static/shadow.jpg"></th>
            </tr>
            <tr>
                <th><img src="static/shadow.jpg"></th>
                <th><img src="static/shadow.jpg"></th>
                <th><img src="static/shadow.jpg"></th>
            </tr>
        </table>
        <p> A more interesting scenario is when the person reacts the opposite of what feeling is coming at them. That person may not have separated reality from the emotions that is being felt. If that person is experiencing a 50/50 ratio of kittens and ninja stars, an expectation of the next shuriken may prevent enjoyment of the kitten. </p>
    </div>
    <h2>Emotional Treatment Steps May Look like: </h2>
    <ol>
        <li>Recognizing the negative emotion</li>
        <li>Returning to a neutral state</li>
        <li>Planning what to do for the next negative emotion</li>
        <li>Practicing the plan</li>
    </ol>
    <h2>Information synthesized from a youtuber called Day[9]. <a href="https://www.youtube.com/watch?v=XQICtwDKmzE">His video.</a></h2>
    <img src="static/day9.jpg">
    <h3>{{currentDate}}</h3>
    </body>
</html>

