<!doctype html>
<html>
    <head>
        <title>Kittens</title>
        <link rel="stylesheet" type="text/css" href ="static/styles.css" >
    </head>
    <!--This page is meant to illustrate why kittens represent good feelings-->
    <body>
        <button><a href="http://127.0.0.1:5000/home">Home Page</a></button>
        <button><a href="http://127.0.0.1:5000/ninjaStars">Ninja Stars Page</a></button>
        <button><a href="http://127.0.0.1:5000/kittens">Kittens Page</a></button>
        <h1>Hello Cat People!</h1>
        <p>Kittens can relatably stand for positive emotions because they are: </p>
        
        <ul>
            <li>Soft</li>
            <li>Warm</li>
            <li>Cuddly</li>
            <li><a href="https://www.youtube.com/shorts/3u1YgtPw4OM">Takes a pet like no problem</a></li>
        </ul>
        
        <img src="static/kitten.jpg">
        
        <h3>{{currentDate}}</h3>
    </body>
</html>

