<!doctype html>
<html>
    <head>
    <title>😺Vs卍 Login</title>
    <link rel="stylesheet" type="text/css" href ="static/styles.css" >
    </head>
    <!--Gathers and verifies credentials of user.-->
    <body>

    <h1>Kittens versus Ninja Stars(Shurikens) Login</h1>

    <form action="/" method="post">
        <label for="username">Username</label> <input type="text" name="username">
        <label for="password">Password</label> <input type="password" name="password">
        <input type="submit" class="submit" value="Login">
    </form>
    <button><a href="http://127.0.0.1:5000/registration">Register</a></button>

    <h2>{{get_flashed_messages()[0]}}</h2>

    <h3>{{currentDate}}</h3>
    </body>
</html>