<!doctype html>
<html>
    <head>
    <title>Update Password</title>
    <link rel="stylesheet" type="text/css" href ="static/styles.css" >
    </head>
    <!--Change password for user.-->
    <body>
    <button><a href="http://127.0.0.1:5000/home">Home Page</a></button>
    <button><a href="http://127.0.0.1:5000/ninjaStars">Ninja Stars Page</a></button>
    <button><a href="http://127.0.0.1:5000/kittens">Kittens Page</a></button>
    <button><a href="http://127.0.0.1:5000/updatePassword">Update Password</a></button>

    <h1>Kittens versus Ninja Stars(Shurikens) Change Password</h1>
    <h2>As a reminder, Your password must contain:</h2>
    <ul>
        <li>more than 12 characters.</li>
        <li>a special character.</li>
        <li>a lower case character.</li>
        <li>an upper case character.</li>
        <li>a number.</li>
    </ul>

    <form action="/updatePassword" method="post">
        <label for="current password">Current Password</label> <input type="password" name="passwordToChange">
        <label for="new password">New Password</label> <input type="password" name="newPassword">
        <label for="confirm password">Confirm Password</label> <input type="password" name="confirmedPassword">
        <input type="submit" class="submit" value="Change Password">
    </form>

    <h2>{{get_flashed_messages()[0]}}</h2>

    <h3>{{currentDate}}</h3>
    </body>
</html>